.home {

  text-align: center;
  .pattern-undersea {
    background-color:#083957;
    position: fixed;
    width: 100%;
    top:0;
    left:0;

    svg {
      width:100%;
      min-height: 100vh;
      opacity: .7;
    }

  }
  .intro-text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;

    p {
      font-size: 2em;
      padding: 1em 0;
      line-height: 1.7;
      a {
        color:#d5cf65;
        text-decoration: none;
      }

    }
  }

}
/*background-animation*/
/*starsfishes*/

@keyframes moveUp {
  0%, 100% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 25px);
  }
}

.up {
  animation:
    moveUp 10s linear infinite;

  &.delay {
    animation-delay: 5s;
  }
}

/*waves*/
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.2;
  }
}

.flash {
  animation: flash 8s linear infinite;

}

/*fish going left from left */
@keyframes goLeftfromL {
  0%{
    opacity: 1;
    transform: translate(0,0);
  }
  9% {
    opacity: 0;
  }
  10%{
    opacity: 0;
    transform: translate3d(-120px, 0, 0);
  }
  11% {
    opacity: 0;
  }
  15% {
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
.move-left-from-left {
  animation: goLeftfromL 18s linear infinite;

}
/*fish going left from right */
@keyframes goLeftfromR {
  0%, 100%{
    opacity: 1;
    transform: none;
  }
  85%{
    transform: translate3d(-100vw, 0, 0);
  }
  86% {
    opacity: 0;
  }
  87% {
    opacity: 0;
    transform: translate3d(15vw, 0, 0);
  }
  90% {
    opacity: 0.7;
  }
}
.move-left-from-right {
  animation: goLeftfromR 18s linear infinite;
}

/*fish going right from left */
@keyframes goRightfromL {
  0%, 100%{
    opacity: 1;
    transform: none;
  }
  82% {
    opacity: .7;
  }
  85% {
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
  }
  86% {
    opacity: 0;
  }
  88% {
    opacity: 0;
    transform: translate3d(-15vw, 0, 0);
  }

  92%{
    opacity: 0.7;
    }
}
.move-right-from-left {
  animation: goRightfromL 18s linear infinite;

}

/*fish going right from right */

@keyframes goRightfromR {
  0%, 100%{
    opacity: 1;
    transform: none;
  }
  12% {
    opacity: .7;
  }
  15% {
    opacity: 0;
    transform: translate3d(18vw, 0, 0);
  }
  16% {
    opacity: 0;
  }
  18% {
    opacity: 0;
    transform: translate3d(-90vw, 0, 0);
  }
  20% {
    opacity: 0.7;
  }
}
.move-right-from-right {
  animation: goRightfromR 18s linear infinite;
}


/*move and flip fish */
@keyframes moveAndFlip {

  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(150px, -50px);
  }

  31% {
    transform: translate(150px, -50px) rotateY(180deg);
  }

  70% {
    transform: translate(-150px, -50px) rotateY(180deg);

  }
  71% {
    transform: translate(-150px, -50px) rotateY(0deg);
  }

  100% {
    transform: translate(0, 0);
  }

}
.fish {
  .move-rotate {
    animation: moveAndFlip 10s linear infinite;
    perspective: 400px;
    transform-origin: center;

  }
}
@keyframes bubbleUp{
  0%{
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0, -120vh, 0);
  }

}
.bubbles {
  fill:none;
  opacity: .5;

  circle:nth-child(1), circle:nth-child(4), circle:nth-child(6) {
    animation: bubbleUp 15s linear infinite;
  }
  circle:nth-child(2), circle:nth-child(5), circle:nth-child(7) {
    animation: bubbleUp 15s linear infinite;
    animation-delay: 5s;
  }
  circle:nth-child(3), circle:nth-child(8) {
    animation: bubbleUp 18s linear infinite;
    animation-delay: 2s;
  }


}